<nav class="menu-main is-dark">
    <ul class="menu-main-inner">
        <li class="main-logo" title="{{ 'Home' }}">
            <a href="/">
                {#<img src="..." alt="">#}
                {{ ui_mt_icon('flight_takeoff') }}
            </a>
        </li>
        <li data-menu-child="dashboard-menu" title="{{ 'Dashboard' }}">
            <i class="sl-ico-speedometer"></i>
        </li>
        <li data-menu-child="documents-menu" title="{{ 'Documents' }}">
            <i class="sl-ico-docs"></i>
        </li>
        <li data-menu-child="business-menu" title="{{ 'Business' }}">
            <i class="sl-ico-briefcase"></i>
        </li>
        <li data-menu-child="misc-menu" title="{{ 'Misc' }}">
            <i class="sl-ico-graph"></i>
        </li>
        <li data-menu-child="settings-menu" title="{{ 'Settings' }}">
            <i class="sl-ico-settings"></i>
        </li>
    </ul>
</nav>
