{% set active = active|default('profile') %}
{% set activeCss = ' active' %}
<div class="card">
    <div class="list-group list-group-bordered list-group-flush">
        <a href="{{ path('cse_account_profile_update') }}" class="list-group-item list-group-item-action{{ print_if(activeCss, 'profile' == active) }}">
            <div class="list-group-item-figure">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="list-group-item-body">{{ 'chang.ui.update_profile'|trans }}</div>
        </a>
        <a href="{{ path('cse_account_account_update') }}" class="list-group-item list-group-item-action{{ print_if(activeCss, 'account' == active) }}">
            <div class="list-group-item-figure">
                <i class="fas fa-shield-alt"></i>
            </div>
            <div class="list-group-item-body">{{ 'chang.ui.update_account'|trans }}</div>
        </a>
        <a href="{{ path('cse_account_change_password') }}" class="list-group-item list-group-item-action{{ print_if(activeCss, 'password' == active) }}">
            <div class="list-group-item-figure">
                <i class="fas fa-key"></i>
            </div>
            <div class="list-group-item-body">{{ 'chang.ui.change_password'|trans }}</div>
        </a>
    </div>
</div>
