{% extends 'account/profile/layout.html.twig' %}
{% form_theme form 'account/profile/formTheme.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
            {% include 'account/profile/_menu.html.twig' with { active: 'password' } %}
        </div>
        <div class="col-lg-9">
            {%- block raw -%}
                {{ form_start(form, { method: 'PUT', ajax: path('cse_account_change_password') }) }}
                <div class="card card-fluid">
                    <h6 class="card-header">{{ 'chang.ui.change_password'|trans }}</h6>
                    <div class="card-body">
                        {{ form_errors(form) }}

                        {{ form_row(form.currentPassword) }}
                        {{ form_row(form.newPassword) }}
                    </div>
                    <div class="card-footer p-2 justify-content-end">
                        <button type="submit" class="btn btn-lg btn-success">
                            {{ 'chang.ui.save_changes'|trans }}
                        </button>
                    </div>
                </div>
                {{ form_widget(form._token) }}
                {{ form_end(form, { render_rest: false }) }}
            {%- endblock -%}
        </div>
    </div>
{% endblock %}
